<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_APP_UUID</key>
	<string>f851c345-eed4-46b9-92bc-872dc1eec5b0</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>cvLTHAyYaPlCHnuSBSNNFGalNntha59WYT8JWxai</string>
	<key>PROJECT_UUID</key>
	<string>f17e2b08-dc7a-4543-aa31-22d868d936c8</string>
</dict>
</plist>
